<div class='container-fluid'>
  <div class='pending-homepage row'>
    <h2> Items Pending your approval </h2>
    <hr>
    <%= render partial: 'pending_approval', locals: {pending_approvals: @pending_approvals}%>
  </div>
</div>
